na_values en read_csv de pandas
Try Except para manejo de excepciones
Replace
Plotear la media en un lineplot

# Repaso 

En las presentaciones surgieron los temas:

- na_values en read_csv
- Try Except
- Replace

In [1]:
from google.colab import drive # La usamos para montar nuestra unidad de Google Drive
drive.mount('/content/drive') # Montamos nuestra unidad de Google Drive

Mounted at /content/drive

In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## na_values

In [14]:
df = pd.read_csv("/content/drive/MyDrive/ICARO/Datasets/datasets/airplane_crashes/Airplane_crashes_dataset_since_1908.csv", encoding="ISO-8859-1")

In [15]:
df.head()

                 date  ...                                            summary
0  September 17, 1908  ...  During a demonstration flight, a U.S. Army fly...
1  September 07, 1909  ...  Eugene Lefebvre was the first pilot to ever be...
2       July 12, 1912  ...  First U.S. dirigible Akron exploded just offsh...
3     August 06, 1913  ...  The first fatal airplane accident in Canada oc...
4  September 09, 1913  ...  The airship flew into a thunderstorm and encou...

[5 rows x 17 columns]

In [16]:
df.isna().sum()

date                    0
time                    0
location                0
operator                0
flight_no               0
route                   0
ac_type                 0
registration            0
cn_ln                   0
all_aboard              0
passengers_aboard       0
crew_aboard             0
all_fatalities          0
passenger_fatalities    0
crew_fatalities         0
ground                  0
summary                 0
dtype: int64

No nos detecta nulos, sin embargo vemos que hay muchos "?". ¿ Cómo podemos resolverlo directamente el el read_csv? 

Leer la documentación de read_csv de pandas

# Try Except

- Try: Nos permite testear un bloque de código.

- Except: Nos permite "capturar" el error y hacer algo.

- Finally: Este bloque se ejecuta al final de todo, sin importar si el try falló o no.

Veamos un ejemplo, intento acceder a una variable "a" que no está definida previamente:

In [17]:
print(a)

NameError: ignored

Vemos en el error el mensaje: *NameError: name 'a' is not defined*

Esto significa que se levantó una exepción del tipo "NameError" con el mensaje: name 'a' is not defined.

Si queremos capturar este error para hacer algo (por ejemplo, imprimir un mensaje de error nosotros) podemos utilizar try, except:

In [18]:
try:
  print(a)
except:
  print("Error")

Error

Vemos que acá se imprime lo que nosotros definimos. También podemos darle un nombre a la excepción y directamente acceder a el mensaje de error:

In [20]:
try:
  print(a)
except Exception as e:
  print(f"Error: {e}")

Error: name 'a' is not defined

De todas formas, esto no es una muy buena práctica ya que hay muchos tipos de excepciones, por ejemplo: NameError, ValueError, ZeroDivisionError y TypeError.

En general, es mejor especificar que tipo de error queremos capturar en el except:

In [21]:
try:
  print(a)
except ValueError as e:
  print(f"Value error: {e}")
except NameError as e:
  print(f"Name error: {e}")

Name error: name 'a' is not defined

EJERCICIO: Buscar ValueError y armar un ejemplo como el anterior, pero capturando un ValueError.

In [23]:
#COMPLETAR

Finally: Este bloque se ejecuta siempre al final, sin importar si hubo un error:

In [24]:
try:
  print(a)
except NameError as e:
  print(f"Name error: {e}")
finally:
  print("Esto es el finally")

Name error: name 'a' is not defined
Esto es el finally

In [25]:
a=10 # Definimos "a" para que no se dispare la excepción

try:
  print(a)
except NameError as e:
  print(f"Name error: {e}")
finally:
  print("Esto es el finally")

10
Esto es el finally

Vemos que en ambos casos se imprime "Esto es el finally"

### Raise

Raise se utiliza para levantar una excepción. Nosotros podemos definir el tipo de error que queremos levantar y el mensaje de error que queremos mostrar.

Veamos ejemplos: Vamos a definir una función "suma_enteros" que sume el primer parametro elemento más el segundo. Si esta función recibe un elemento distinto de int vamos a levantar un TypeError.

In [29]:
def suma_enteros(a, b):
  if type(a) != int:
    raise TypeError(f"Error: {a} no es del tipo int")
  
  if type(b) != int:
    raise TypeError(f"Error: {b} no es del tipo int")

  else:
    return a + b

In [30]:
suma_enteros(10, 20)

30

In [31]:
suma_enteros(10.0, 20.0)

TypeError: ignored

EJERCICIO: Capturar el error, si el tipo de dato es "float" transformarlo a int y hacer la suma de enteros. Si el tipo de dato no se puede convertir a int, imprimir el error.

In [32]:
#COMPLETAR

EJERCICIO: Queremos que al finalizar la función, se imprima el mensaje "Operación finalizada" sin importar si la función falló o no.

In [48]:
#COMPLETAR

# Replace

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

In [36]:
df[['route']].head()

           route
0  Demonstration
1       Air show
2    Test flight
3              ?
4              ?

In [37]:
df['route'] = df.route.replace({'Demonstration': 'remplazado'})

In [38]:
df[['route']].head()

         route
0   remplazado
1     Air show
2  Test flight
3            ?
4            ?