Importar numpy con el alias **np**

In [1]:
# Importar en esta celda

# 1) 

Crear un array de 3x3 en el que todos sus valores sean `True` de la forma más simple posible

In [ ]:
trues_array = #COMPLETAR
trues_array

# 2)

Reemplazar todos los números impares del siguiente array por el valor -1

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
mask = # COMPLETAR
#COMPLETAR

# 3)

Investigar las funciones vstack y hstack de numpy.

1) Concatenar los arrays a y b horizontalmente

2) Concatenar los arrays a y b verticalmente

Resultado esperado:

1)
```
array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])
```

2)
```
array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
      [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])
```

In [ ]:
a = np.arange(10).reshape(2,5)
b = np.repeat(1, 10).reshape(2,5)

In [ ]:
print(a)

In [ ]:
print(b)

# 4)
Como podemos obtener la intersección entre dos arrays? 

Investigar la función `intersect1d` y utilizarla para los siguientes arrays:

In [ ]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [ ]:
# COMPLETAR

In [ ]:
# Salida esperada: array([2, 4])

# 5)

Crear un array con valores en el rango 10 a 49 y luego invertirlo. (Numpy tiene una función para esto)

In [3]:
# COMPLETAR