# Estadística

La clase pasada vimos que numpy tiene muchas funciones que nos simplifican la vida a los data scientists.

Numpy, también incluye funciones para calcular la media, desviación estandar, moda, percentiles, etc.

Veamos algunas de ellas...

## La media

Dados $n$ números $x_1,x_2,...,x_n$, el promedio o media es 

$$\overline{x} = \frac{1}{n}\sum_{i=1}^{n} x_i = \frac{x_1 + x_2 + ... + x_n}{n}$$

Primero calculemos la media de un array sin usar la función de numpy.

Ejercicio: Hacer una función que reciba un array de numpy como parámetro y retorne su media

In [ ]:
import numpy as np

In [ ]:
np_array = np.arange(100)

In [ ]:
def media(numbers_array):
  # COMPLETAR

print(media(np_array))

Ahora.. como lo hacemos con numpy? Es mucho más simple!

In [ ]:
np.mean(np_array)

49.5

## La mediana

Vimos que la mediana es un valor tal que bajo ella se encuentran el 50% de las observaciones.

Numpy también nos provee una función para calcular la mediana en una sola línea de código:

In [ ]:
np.median(np_array)

49.5

## Desviación estandar

In [ ]:
np.std(np_array)

28.86607004772212

## Varianza

In [ ]:
np.var(np_array)

833.25

## Percentiles

In [ ]:
np.quantile(np_array, 0.5) # Es igual a la mediana

49.5

In [ ]:
np.quantile(np_array, 0.25)

24.75

# Pandas

Ahora si, arranquemos con Pandas.

Pandas es otra librería muy utilizada por data scientists. El principal concepto detrás de Pandas es el DataFrame.

Un DataFrame es una estructura de datos con dos dimensiones en la cual se puede guardar datos de distintos tipos (como caractéres, enteros, valores de punto flotante, factores y más) en columnas. En un DataFrame se van a almacenar los datos con los que querramos trabajar. 

Pandas nos provee muchas funciones para manipular datos en un DataFrame.

Pandas corre sobre Numpy, de manera que hay muchas cosas en comun.

Primero que nada, importemos pandas

In [ ]:
import pandas as pd

Un DataFrame se puede crear por ejemplo, a partir de un archivo csv (caso más común).

Para eso, pandas nos provee la función read_csv.

Antes que nada, si estamos trabajando en google colab, debemos montar drive en nuestro notebook.

Una vez montado drive, debemos reemplazar el path al archivo:

In [ ]:
from google.colab import drive # La usamos para montar nuestra unidad de Google Drive
drive.mount('/content/drive') # Montamos nuestra unidad de Google Drive

In [ ]:
iris_dataset = pd.read_csv('drive/MyDrive/ICARO/Curso DS/Clases/Clase 4/iris_dataset.csv')

In [ ]:
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Lo que hicimos fue leer un archivo csv y meterlo dentro de un DataFrame de pandas. Este DataFrame tiene filas y columnas.

Cad columna tiene un tipo de dato. Esto podemos verlo con la función info()

In [ ]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Nos dice que todas las columnas son del tipo float, a excepción de "species" que es del tipo "object".

Es importante tener en cuenta el tipo de datos de las columnas ya que de esto depende las operaciones que podemos hacer sobre las mismas.

El dataset que estamos usando (iris_dataset) es muy conocido, pueden googlear para saber más del mismo.


Otra función muy útil de los DataFrames es describe()

In [ ]:
iris_dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Describe, nos da datos estadísticos de nuesto DataFrame.

Un DataFrame, puede tener valores faltantes. Estos valores faltantes en pandas se representan como NaN.

Cuántos datos faltantes hay en este DataFrame?

In [ ]:
iris_dataset.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Ninguno! Este dataset no tiene datos faltantes (rara vez nos vamos a encontrar con datasets de este tipo)

También podemos aplicar funciones sobre una columna.

Para seleccionar una columna, utilizamos [].

In [ ]:
iris_dataset['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

Que tipo de dato nos retorna esto?

In [ ]:
type(iris_dataset['sepal_length'])

pandas.core.series.Series

Una "Series". Una series es el objeto que compone a los dataframes de pandas.

Este objeto es muy similar a los que es un array de Numpy (de hecho esta construido sobre el). La diferencia es que el objeto Series tiene etiquetas (labels), eso quiere decir que puede ser indexado por la etiqueta, y no solo por la posicion.

Si en lugar de obtener una Series, quiero un DataFrame, puedo hacerlo utilizando corchetes dobles:

In [ ]:
iris_dataset[['sepal_length']]

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

En este caso, puedo seleccionar todas las columnas que quiera

In [ ]:
iris_dataset[['sepal_length', 'sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

Los DataFrames también tienen un atributo "columns":

In [ ]:
iris_dataset.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

Y otro atributo index:

In [ ]:
iris_dataset.index

RangeIndex(start=0, stop=150, step=1)

Podemos elegir cualquier columna como index:

In [ ]:
iris_dataset.set_index('sepal_length')

              sepal_width  petal_length  petal_width    species
sepal_length
5.1                   3.5           1.4          0.2     setosa
4.9                   3.0           1.4          0.2     setosa
4.7                   3.2           1.3          0.2     setosa
4.6                   3.1           1.5          0.2     setosa
5.0                   3.6           1.4          0.2     setosa
...                   ...           ...          ...        ...
6.7                   3.0           5.2          2.3  virginica
6.3                   2.5           5.0          1.9  virginica
6.5                   3.0           5.2          2.0  virginica
6.2                   3.4           5.4          2.3  virginica
5.9                   3.0           5.1          1.8  virginica

[150 rows x 4 columns]

Si nos arrepentimos, podemos resetear el index para que vuelva a ser numérico

In [ ]:
iris_dataset.reset_index()

     index  sepal_length  sepal_width  petal_length  petal_width    species
0        0           5.1          3.5           1.4          0.2     setosa
1        1           4.9          3.0           1.4          0.2     setosa
2        2           4.7          3.2           1.3          0.2     setosa
3        3           4.6          3.1           1.5          0.2     setosa
4        4           5.0          3.6           1.4          0.2     setosa
..     ...           ...          ...           ...          ...        ...
145    145           6.7          3.0           5.2          2.3  virginica
146    146           6.3          2.5           5.0          1.9  virginica
147    147           6.5          3.0           5.2          2.0  virginica
148    148           6.2          3.4           5.4          2.3  virginica
149    149           5.9          3.0           5.1          1.8  virginica

[150 rows x 6 columns]

### Head, Tail y Sample

A veces tenemos DataFrames con muchisimos datos y no queremos imprimir todo en un notebook, simplemente algunas filas como ejemplo.

Para esto existen las funciones head(), tail() y sample()

In [ ]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris_dataset.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
iris_dataset.sample(5)

    sepal_length  sepal_width  petal_length  petal_width     species
82           5.8          2.7           3.9          1.2  versicolor
13           4.3          3.0           1.1          0.1      setosa
6            4.6          3.4           1.4          0.3      setosa
12           4.8          3.0           1.4          0.1      setosa
44           5.1          3.8           1.9          0.4      setosa

Cuál es la diferencia entre las 3?

#### loc e iloc

Pandas nos probee las funciones loc e iloc para acceder a sus datos.

Para que sirven?

Investigar

In [ ]:
iris_dataset.loc[1,'sepal_length']

4.9

In [ ]:
iris_dataset.iloc[1,0]

4.9